<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,474}}</string>
                <key>offset</key>
                <string>{-62,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,89},{356,474}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{272,466}}</string>
                <key>offset</key>
                <string>{-30,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,100},{272,466}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,460},{258,456}}</string>
                <key>offset</key>
                <string>{-35,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,107},{258,456}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,420},{368,406}}</string>
                <key>offset</key>
                <string>{-35,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,83},{368,406}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{346,474}}</string>
                <key>offset</key>
                <string>{-67,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,90},{346,474}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,478},{298,466}}</string>
                <key>offset</key>
                <string>{-49,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,98},{298,466}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{270,456}}</string>
                <key>offset</key>
                <string>{-29,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,108},{270,456}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{356,416}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,84},{356,416}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>running.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4468ff02abe538ce50e3e1448059f78:1/1$</string>
            <key>textureFileName</key>
            <string>running.png</string>
        </dict>
    </dict>
</plist>
